@model UP_Mobile.Models.Operador

@{
    ViewData["Title"] = "Details";
}

<main id="main">
    <section>
        <div class="container">

            <h1>Detalhes do operador @Html.DisplayFor(model => model.IdOperador)</h1>

            <div>
                
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataNascimento)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Morada)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Morada)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Contacto)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Contacto)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LocalTrabalho)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LocalTrabalho)
                    </dd>
                    <dd class="col-sm-10">
                        <b>@Html.DisplayNameFor(model => model.OperadorAtivo)</b> @Html.DisplayFor(model => model.OperadorAtivo)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.IdOperador" class="btn border" style="background-color: #55ecc3;">Editar</a>  |
                <a asp-action="Index" class="btn border" style="background-color: #55ecc3;">Voltar</a>
            </div>
        </div>
    </section>
</main>