@model IEnumerable<UP_Mobile.Models.Operador>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Operadores</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Criar Operador</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IdOperador)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LocalTrabalho)
            </th>
            <th scope="col">Ações Disponíveis</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOperador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalTrabalho)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOperador" type="button" class="btn btn-primary">Editar</a> |

                <a asp-action="Delete" asp-route-id="@item.IdOperador" type="button" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
