@model UP_Mobile.Models.Utilizador

@{
    ViewData["Title"] = "Details";
}



<main id="main">
    <section>
        <div class="container">
            <div>
                <h1>Detalhes do Cliente</h1>
                
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataNascimento)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Morada)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Morada)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Contacto)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Contacto)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NContribuinte)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NContribuinte)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NIdentificacao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NIdentificacao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Ativo)
                    </dt>
                    <dd class="col-sm-10">
                        @ViewBag.Ativo
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LocalTrabalho)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LocalTrabalho)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdRoleNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdRoleNavigation.Nome)
                    </dd>
                </dl>
            </div>
            <div>
                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Edit" class="btn border" style="background-color: #55ecc3;" asp-route-id="@Model.IdUtilizador"> Editar</a>
                }
                    <a onclick="history.go(-1)" class="btn border" style="background-color: #55ecc3;">Cancelar</a>
                    @if (User.IsInRole("Operador"))
                    {
                        <a asp-controller="Contratos" asp-action="Create" asp-route-id="@Model.IdUtilizador" class="btn border" style="background-color: #55ecc3;">Novo Contrato</a>
                        <a asp-controller="Contratos" asp-action="Index" asp-route-id="@Model.IdUtilizador" class="btn border" style="background-color: #55ecc3;">Ver Contratos</a>
                    }

                </div>
            </div>
</section>
</main>