@model UP_Mobile.Models.Utilizador

@{
    ViewData["Title"] = "Informação";
}



<main id="main">
    <section>
        <div class="container">
            <div>
                <h1 class="text-center mb-4">Informações de</h1>
                <h1 class="mb-5 text-center" style="color:#4fd6d9"><b>@Html.DisplayFor(model => model.Nome)</b></h1>

                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataNascimento)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataNascimento)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Morada)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Morada)
                    </dd>
                    
                    <dt class="col-sm-2">
                        Distrito
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdDistritoNavigation.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Contacto)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Contacto)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NContribuinte)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NContribuinte)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NIdentificacao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NIdentificacao)
                    </dd>
                    @if ((User.IsInRole("Administrador")) || (User.IsInRole("Operador")))
                    {
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ativo)
                        </dt>
                        <dd class="col-sm-10">
                            @ViewBag.Ativo
                        </dd>
                        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LocalTrabalho)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LocalTrabalho)
            </dd>*@
                        <dt class="col-sm-2">
                            Categoria
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IdRoleNavigation.Nome)
                        </dd>
                    }
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataCriacao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataCriacao)
                    </dd>
                </dl>
            </div>
            <div>
                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Edit" class="btn border" style="background-color: #55ecc3;" asp-route-id="@Model.IdUtilizador"> Editar</a>
                }
                <a onclick="history.go(-1)" class="btn border" style="background-color: #80f2f3">Cancelar</a>
                @if (User.IsInRole("Operador"))
                {
                    <a asp-controller="Contratos" asp-action="Create" asp-route-id="@Model.IdUtilizador" class="btn border" style="background-color: #86f1c5;">Novo Contrato</a>
                    <a asp-controller="Contratos" asp-action="Index" asp-route-id="@Model.IdUtilizador" class="btn border" style="background-color: #55ecc3;">Ver Contratos</a>
                    <a asp-controller="Reclamacoes" asp-action="Index" asp-route-id="@Model.IdUtilizador" class="btn border" style="background-color: #55ecc3;">Ver Reclamações</a>
                }

            </div>
            </div>
</section>
</main>