@model ListaUtilizadoresViewModel

@{
    ViewData["Title"] = "Clientes";
}



<main id="main">
    <section>
        <div class="container">


            <h1>Lista de Clientes</h1>

    

            <div class="card2 mb-4">
                <div class="card2-body">
                    <h5 class="card2-title"><i class="bx bx-search-alt"></i>Pesquisa</h5>
                    <form asp-action="IndexCliente" method="get">
                        <div class="form-group justify-content-between">
                            <label for="nomePesquisar" class="control-label">Nome de Cliente / Número de Contribuinte</label>
                            <input name="nomePesquisar" class="form-control formcontrolc2 " type="search" value="@Model.NomePesquisar" />


                            @*<div class="form-group">*@
                            <input type="submit" value="Pesquisar" class="btn btnsearch ml-5"  /> 
                            <a asp-action="IndexCliente" class="btn btnsearch" >Limpar</a>
                            @*</div>*@
                        </div>
                    </form>
                </div>
            </div>

            <table class="table table1">
                <thead class="tbl-header">
                    <tr>
                        <th>
                            @*@Html.DisplayNameFor(model => model.Utilizador[0].IdUtilizador)*@
                            Nº de Cliente
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Utilizador[0].Nome)
                        </th>
                        @*<th scope="col">
                        @Html.DisplayNameFor(model => model.Utilizador[0].DataNascimento)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Utilizador[0].Morada)
                    </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Utilizador[0].Contacto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Utilizador[0].Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Utilizador[0].NContribuinte)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Utilizador[0].NIdentificacao)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Utilizador[0].Ativo)
                        </th>
                        @*<th scope="col">
                        @Html.DisplayNameFor(model => model.Utilizador[0].LocalTrabalho)
                    </th>*@
                        @*<th scope="col">
                        @Html.DisplayNameFor(model => model.Utilizador[0].IdRoleNavigation)
                    </th>*@
                        <th ></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Utilizador)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdUtilizador)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            @*<td>
                            @Html.DisplayFor(modelItem => item.DataNascimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Morada)
                        </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Contacto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NContribuinte)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NIdentificacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ativo)
                            </td>
                            @*<td>
                            @Html.DisplayFor(modelItem => item.LocalTrabalho)
                        </td>*@
                            @*<td>
                            @Html.DisplayFor(modelItem => item.IdRoleNavigation.Nome)
                        </td>*@
                            <td>

                                @if (User.IsInRole("Administrador"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.IdUtilizador" type="button" class="btn btninfo3" >Editar</a>
                                    <h1></h1>
                                    <a asp-action="Details" asp-route-id="@item.IdUtilizador" type="button" class="btn btninfo3" >Detalhes</a>
                                    <h1></h1>
                                    <a asp-action="Delete" asp-route-id="@item.IdUtilizador" type="button" class="btn btndanger">Apagar</a>

                                }
                                else
                                {
                                    <a asp-action="Details" asp-route-id="@item.IdUtilizador" type="button" class="btn btninfo4" >Detalhes</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <nav>
                <ul class="pagination">
                    @{
                        int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                        //int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS / 2;
                        if (paginaInicial < 1)
                        {
                            paginaInicial = 1;
                        }

                        int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                        //int paginaFinal = paginaInicial + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS - 1;
                        if (paginaFinal > Model.Paginacao.TotalPaginas)
                        {
                            paginaFinal = Model.Paginacao.TotalPaginas;
                        }
                    }

                    <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
                        <a class="page-link text-black-50 border-info" style="background-color: #e3f2fd;" asp-action="IndexCliente" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
                    </li>

                    @for (int i = paginaInicial; i <= paginaFinal; i++)
                    {
                        <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                            <a class="page-link text-black-50 border-info" style="background-color: #e3f2fd;" asp-action="IndexCliente" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
                        <a class="page-link text-black-50 border-info" style="background-color: #e3f2fd;" asp-action="IndexCliente" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</main>