@model UP_Mobile.Models.Reclamacao

@{
    ViewData["Title"] = "Detalhes da Reclamação";
}

<main id="main">
    <section>
        <div class="container">

            <h1>Detalhes</h1>

            <div>
                <h4>Reclamacao</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DataAbertura)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DataAbertura)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Assunto)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Assunto)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DataResolucao)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DataResolucao)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Resolucao)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Resolucao)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IdClienteNavigation)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.IdClienteNavigation.Nome)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IdEstadoNavigation)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.IdEstadoNavigation.Nome)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IdOperadorNavigation)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.IdOperadorNavigation.Nome)
                    </dd>
                </dl>
            </div>
            <div>

                <a onclick="history.go(-1)" class="btn btn-primary" style="background-color: #55ecc3;">Voltar</a>

                @{
                    string Estado = Model.IdEstadoNavigation.Nome;

                    if (Estado == "Concluído")
                    {
                        <p>Considera que a reclamação não está resolvida? </p>

                        <a asp-action="CreateNew" asp-route-id="@Model.IdReclamacao" type="button" class="btn border" style="background-color: #55ecc3;">Clique aqui</a>
                    }

                }
            </div>
        </div>
    </section>
</main>
