@model UP_Mobile.Models.ConteudoExtra

@{
    ViewData["Title"] = "Delete";
}

<main id="main">
    <section>
        <div class="container">

            <h1>Apagar Conteúdo Extra</h1>

            <h3>Tem a certeza que deseja apagar o conteúdo extra nº @Html.DisplayFor(model => model.Nome) ?</h3>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataInicioComercializacao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataInicioComercializacao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataFimComercializacao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataFimComercializacao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Preco)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Preco)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdConteudo" />
                    <input type="submit" value="Apagar" class="btn border" style="background-color: #55ecc3;" /> |
                    <a asp-action="Index" class="btn border" style="background-color: #55ecc3;">Cancelar e Voltar</a>
                </form>
            </div>

        </div>
    </section>
</main>