@model UP_Mobile.Models.ConteudoExtra

@{
    ViewData["Title"] = "Informação Extras";
}

<main id="main">
    <section>
        <div class="container">

            <h1 class="mb-2 text-center">Informações sobre o extra</h1>
            <h1 class="mb-5 text-center" style="color:#4fd6d9"><b>@Html.DisplayFor(model => model.Nome)</b></h1>

            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    @if ((User.IsInRole("Administrador")) || (User.IsInRole("Operador")))
                    {
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DataInicioComercializacao)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DataInicioComercializacao)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DataFimComercializacao)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DataFimComercializacao)
                        </dd>
                    }
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Preco)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Preco)€/mês
                        </dd>
                    </dl>
            </div>
            <div>
                @if ((User.IsInRole("Administrador")) || (User.IsInRole("Operador")))
                {
                    <a asp-action="Edit" class="btn border" style="background-color: #55ecc3;" asp-route-id="@Model.IdConteudo">Editar </a>
                }
                <a asp-action="Index" class="btn border" style="background-color: #55ecc3;">Voltar</a>


            </div>

        </div>
    </section>
</main>