@model UP_Mobile.Models.PacoteComercial

@{
    ViewData["Title"] = "Detalhes";
}

<main id="main">
    <section>
        <div class="container">

            <h1 class="mb-2 text-center">Informações sobre o pacote</h1>
            <h1 class="mb-5 text-center" style="color:#4fd6d9"><b>@Html.DisplayFor(model => model.Nome)</b></h1>

            <div class="mb-2">

                <table class="table table-hover" @*style="background-color:#86f1c5"*@>
                    <tbody>
                        <tr>
                            <th scope="row" style="width: 30%">@Html.DisplayNameFor(model => model.Nome)</th>
                            <td>@Html.DisplayFor(model => model.Nome)</td>
                        </tr>

                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Descricao)</th>
                            <td>@Html.DisplayFor(model => model.Descricao)</td>
                        </tr>
                        @if ((User.IsInRole("Administrador")) || (User.IsInRole("Operador")))
                        {
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.DataInicioComercializacao)</th>
                                <td>@Html.DisplayFor(model => model.DataInicioComercializacao)</td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.DataFimComercializacao)</th>
                                <td>@Html.DisplayFor(model => model.DataFimComercializacao) </td>
                            </tr>
                        }
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.PrecoBase)</th>
                                <td>@Html.DisplayFor(model => model.PrecoBase)€</td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.PeriodoFidelizacao)</th>
                                <td>@Html.DisplayFor(model => model.PeriodoFidelizacao) meses</td>
                            </tr>

                            @if ((User.IsInRole("Administrador")) || (User.IsInRole("Operador")))
                            {
                                <tr>
                                    <th scope="row">@Html.DisplayNameFor(model => model.Ativo)</th>
                                    <td>@Html.DisplayFor(model => model.Ativo)</td>
                                </tr>

                            }
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Internet)</th>
                                <td>@Html.DisplayFor(model => model.Internet)</td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Voz)</th>
                                <td>@Html.DisplayFor(model => model.Voz)</td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Tv)</th>
                                <td>@Html.DisplayFor(model => model.Tv)</td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Movel)</th>
                                <td>@Html.DisplayFor(model => model.Movel)</td>
                            </tr>
                        </tbody>
                </table>
            </div>
            <div>
                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Edit" class="btn border" style="background-color: #55ecc3;" asp-route-id="@Model.IdPacote">Editar</a>
                }
                <a asp-action="Index" class="btn border" style="background-color: #80f2f3">Voltar</a>
            </div>
        </div>
    </section>
</main>

