@model UP_Mobile.Models.PacoteComercial

@{
    ViewData["Title"] = "Detalhes";
}

<main id="main">
    <section>
        <div class="container">

            <h1>Detalhes do pacote @Html.DisplayFor(model => model.Nome)</h1>

            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Descricao)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DataInicioComercializacao)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DataInicioComercializacao)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DataFimComercializacao)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DataFimComercializacao)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PrecoBase)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PrecoBase)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PeriodoFidelizacao)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PeriodoFidelizacao)
                    </dd>
                    @if ((User.IsInRole("Administrador")) || (User.IsInRole("Operador")))
                    {
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Ativo)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Ativo)
                        </dd>
                    }
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Internet)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Internet)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Voz)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Voz)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Tv)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Tv)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Movel)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Movel)
                        </dd>
                    </dl>
            </div>
            <div>
                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Edit" class="btn border" style="background-color: #55ecc3;" asp-route-id="@Model.IdPacote">Editar</a>} 
                <a asp-action="Index" class="btn border" style="background-color: #55ecc3;">Voltar</a>
            </div>
        </div>
    </section>
</main>