@model IEnumerable<UP_Mobile.Models.PacoteComercial>


@{
    ViewData["Title"] = "Pacotes Comerciais";
}

<main id="main">
    <section>
        <div class="container">

            <h1 class="text-center" style="color:#4fd6d9">Pacotes Comerciais</h1>

            @if (User.IsInRole("Administrador"))
            {
                <p>
                    <a asp-action="Create" type="button" class="btn border-info" style="background-color: #e3f2fd;">Criar Novo Pacote Comercial</a>
                </p>
            }

            @*COMEÇA AQUI*@
            <section id="pricing" class="pricing">
                <div class="container">
                    <div class="row">

                        @foreach (var item in Model)
                        {


                            <div class="col-lg-4 col-md-6 mb-5" data-aos="zoom-in" data-aos-delay="150">
                                <div class="box">

                                    <h2>@Html.DisplayFor(modelItem => item.Nome)</h2>
                                    <h4><sup>€</sup>@Html.DisplayFor(modelItem => item.PrecoBase)<span> / mês</span></h4><hr />
                                    <ul>
                                        @if (item.Internet != null)
                                        {
                                            <li><h5>@Html.DisplayNameFor(model => item.Internet)</h5></li>
                                            <li>@Html.DisplayFor(modelItem => item.Internet)</li>
                                        }
                                        @if (item.Tv != null)
                                        {
                                            <li><h5>@Html.DisplayNameFor(model => item.Tv)</h5></li>
                                            <li>@Html.DisplayFor(modelItem => item.Tv)</li>
                                        }
                                        @if (item.Voz != null)
                                        {
                                            <li><h5>@Html.DisplayNameFor(model => item.Voz)</h5></li>
                                            <li>@Html.DisplayFor(modelItem => item.Voz)</li>
                                        }
                                        @if (item.Movel != null)
                                        {
                                            <li><h5>@Html.DisplayNameFor(model => item.Movel)</h5></li>
                                            <li>@Html.DisplayFor(modelItem => item.Movel)</li>
                                        }
                                    </ul>

                                    @if ((!User.Identity.IsAuthenticated) || (User.IsInRole("Cliente")))
                                    {
                                        <div class="btn-wrap">
                                            <ul>
                                                <li>
                                                    <a data-toggle="modal" data-target="#ExemploModalCentralizado" class="btn-buy mb-3 btnAderir">Aderir</a>
                                                    <a asp-route-id="@item.IdPacote" asp-action="Details" class="btn-buy">Saber Mais</a>
                                                </li>
                                            </ul>
                                        </div>
                                    }

                                    @if (User.IsInRole("Administrador"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.IdPacote" type="button" class="btn border" style="background-color: #55ecc3;">Editar</a>
                                    }
                                    @if ((User.IsInRole("Administrador")) || (User.IsInRole("Operador")))
                                    {
                                        <a asp-action="Details" asp-route-id="@item.IdPacote" type="button" class="btn border" style="background-color: #55ecc3;">Detalhes</a>
                                    }
                                    @if (User.IsInRole("Administrador"))
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.IdPacote" type="button" class="btn border" style="background-color: #55ecc3;">Apagar</a>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #55ecc3;">
                <h3 class="modal-title text-center" id="TituloModalCentralizado"><b>Conheça as ofertas que temos para si. Adira já!</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><i class="bi bi-telephone-outbound-fill"></i>   Ligamos-lhe grátis</p>
                <p><i class="bi bi-clock-fill"></i>   Disponível entre as 8h e as 22h</p>

            </div>
            <div class="modal-footer" style="background-color: #55ecc3;">
                <input class="form-control" type="text" placeholder="Contacto">
                <button type="button" class="btn btn-buy mb-3 border" style="background-color: #ffffff;" data-dismiss="modal" data-toggle="modal" data-target="#ExemploModalCentralizado2">Liguem-me</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado2" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #55ecc3;">
                <h3 class="modal-title text-center" id="TituloModalCentralizado"><b>Obrigado pela sua confiança</b></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><i class="bi bi-telephone-outbound-fill"></i>   Será contactado num intervalo de 10 min</p>
            </div>
            <div class="modal-footer" style="background-color: #55ecc3;">
                <p class="modal-title text-center" id="TituloModalCentralizado"><b>Até ja</b></p>
            </div>
        </div>
    </div>
</div>