@model IEnumerable<UP_Mobile.Models.PacoteComercial>


@{
    ViewData["Title"] = "Pacotes Comerciais";
}

<main id="main">
    <section>
        <div class="container">

            <h1 class="text-center" style="color:#4fd6d9">Pacotes Comerciais</h1>

            <p>
                <a asp-action="Create">Criar novo pacote comercial</a>
            </p>

            @*COMEÇA AQUI*@
            <section id="pricing" class="pricing">
                <div class="container">
                    <div class="row">

                        @foreach (var item in Model)
                        {
                            

                        <div class="col-lg-4 col-md-6 mb-5" data-aos="zoom-in" data-aos-delay="150">
                            <div class="box">
                                
                                    <h2>@Html.DisplayFor(modelItem => item.Nome)</h2>
                                    <h4><sup>€</sup>@Html.DisplayFor(modelItem => item.PrecoBase)<span> / mês</span></h4><hr />
                                    <ul>
                                        @if (item.Internet != null)
                                        {
                                        <li><h5>@Html.DisplayNameFor(model => item.Internet)</h5></li>
                                        <li>@Html.DisplayFor(modelItem => item.Internet)</li>
                                        }
                                        @if (item.Tv != null)
                                        {
                                        <li><h5>@Html.DisplayNameFor(model => item.Tv)</h5></li>
                                        <li>@Html.DisplayFor(modelItem => item.Tv)</li>
                                        }
                                        @if (item.Voz != null)
                                        {
                                        <li><h5>@Html.DisplayNameFor(model => item.Voz)</h5></li>
                                        <li>@Html.DisplayFor(modelItem => item.Voz)</li>
                                        }
                                        @if (item.Movel != null)
                                        {
                                        <li><h5>@Html.DisplayNameFor(model => item.Movel)</h5></li>
                                        <li>@Html.DisplayFor(modelItem => item.Movel)</li>
                                        }
                                    </ul>
                                
                                <div class="btn-wrap">
                                    <ul>
                                        <li>
                                            <a asp-area="" asp-controller="PacotesComerciais" asp-action="Index" class="btn-buy">Aderir</a>
                                            <a asp-area="" asp-controller="PacotesComerciais" asp-action="Details" class="btn-buy">Saber Mais</a>
                                        </li>
                                    </ul>
                                </div>

                                @if (User.IsInRole("Administrador"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.IdPacote" type="button" class="btn border" style="background-color: #55ecc3;">Editar</a>
                                    <a asp-action="Details" asp-route-id="@item.IdPacote" type="button" class="btn border" style="background-color: #55ecc3;">Detalhes</a>
                                    <a asp-action="Delete" asp-route-id="@item.IdPacote" type="button" class="btn border" style="background-color: #55ecc3;">Apagar</a>
                                }

                            </div>
                            </div>
                        }
                        </div>
                    </div>
            </section>
        </div>
    </section>
</main>