@model UP_Mobile.Models.PacoteComercialPromocao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PacoteComercialPromocao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPacoteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPacoteNavigation.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPromocaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPromocaoNavigation.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPacoteComercialPromocao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
