@model IEnumerable<UP_Mobile.Models.PacoteComercial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicioComercializacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFimComercializacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoFidelizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioComercializacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFimComercializacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodoFidelizacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPacote">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPacote">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPacote">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
