@model IEnumerable<UP_Mobile.Models.PacoteComercialDetalhes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Internet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Internet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPacoteComercialDetalhes">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPacoteComercialDetalhes">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPacoteComercialDetalhes">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
