@model UP_Mobile.Models.Contrato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFimContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoradaFaturacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoradaFaturacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFidelizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFidelizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeOperador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeOperador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoBaseInicioContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoBaseInicioContrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConteudoExtraTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConteudoExtraTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOperadorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOperadorNavigation.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPacoteComercialPromocaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPacoteComercialPromocaoNavigation.IdPacoteComercialPromocao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdContrato">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
