@model UP_Mobile.Models.Contrato

@{
    ViewData["Title"] = "Detalhes do Contrato";
}

<main id="main">
    <section>
        <div class="container">

            <h1>Details</h1>

            <div>
                <h4>Contrato</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DataInicioContrato)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DataInicioContrato)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DataFimContrato)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DataFimContrato)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.MoradaFaturacao)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.MoradaFaturacao)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DataFidelizacao)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DataFidelizacao)
                    </dd>
                    
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PrecoBaseInicioContrato)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PrecoBaseInicioContrato)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PrecoTotal)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PrecoTotal)
                    </dd>
                    
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IdClienteNavigation)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.IdClienteNavigation.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IdOperadorNavigation)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.IdOperadorNavigation.Email)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.IdPacoteComercialPromocaoNavigation)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.IdPacoteComercialPromocaoNavigation.Nome)
                    </dd>
                </dl>
            </div>
            <div>
                @*<a asp-action="Edit" class="btn border" style="background-color: #55ecc3;" asp-route-id="@Model.IdContrato">Editar</a> |*@
                <a onclick="history.go(-1)" class="btn btn-primary" style="background-color: #55ecc3;">Cancelar e Voltar</a>
            </div>

        </div>
    </section>
</main>