@model UP_Mobile.Models.PacoteComercialPromocao

@{
    ViewData["Title"] = "Informação do Pacote Promoção";
}

<main id="main">
    <section>
        <div class="container">

            <h1>Informações</h1>

            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdPacoteNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdPacoteNavigation.Descricao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdPromocaoNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdPromocaoNavigation.Descricao)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.IdPacoteComercialPromocao" class="btn btninfo3" >Editar</a> |
                <a asp-action="Index" class="btn btninfo3" >Voltar</a>
            </div>
        </div>
    </section>
</main>