@model IEnumerable<UP_Mobile.Models.PacoteComercialPromocao>

@{
    ViewData["Title"] = "Pacote Comercial Promoção";
}

<main id="main">
    <section>
        <div class="container">

            <h1>Lista dos Pacotes Comerciais Promoção</h1>

            <p>
                <a asp-action="Create" type="button" class="btn border-info" style="background-color: #e3f2fd;">Criar Pacote Comercial Promoção</a>
            </p>
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PrecoTotalPacote)
                        </th>
                        <th>
                            Distrito
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.PrecoTotalPacote)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdDistritoNavigation.Nome)
                        </td>
                        <td>
                            @*<a asp-action="Details" asp-route-id="@item.IdPacoteComercialPromocao" type="button" class="btn border" style="background-color: #55ecc3;">Detalhes</a>
            <h1></h1>*@
                            <a asp-action="Edit" asp-route-id="@item.IdPacoteComercialPromocao" type="button" class="btn border" style="background-color: #55ecc3;">Editar</a>
                            <h1></h1>
                            <a asp-action="Delete" asp-route-id="@item.IdPacoteComercialPromocao" type="button" class="btn btn-danger">Apagar</a>

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>