@model IEnumerable<UP_Mobile.Models.PacoteComercialPromocao>

@{
    ViewData["Title"] = "Index";
}

<main id="main">
    <section>
        <div class="container">

            <h1>Index</h1>

            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IdPacoteNavigation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdPromocaoNavigation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PrecoTotalPacote)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdPacoteNavigation.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdPromocaoNavigation.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecoTotalPacote)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdPacoteComercialPromocao">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.IdPacoteComercialPromocao">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdPacoteComercialPromocao">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>