@model UP_Mobile.Models.ContratoConteudo

@{
    ViewData["Title"] = "Delete";
}

<main id="main">
    <section>
        <div class="container">

            <h1>Apagar Contrato Conteúdo</h1>

            <h3>Tem a certeza que deseja apagar o contrato conteudo nº @Html.DisplayFor(model => model.IdContratoConteudo) ?</h3>
            <div>
                
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataInicioConteudo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataInicioConteudo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataFimConteudo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataFimConteudo)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdConteudoNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdConteudoNavigation.Descricao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IdContratoNavigation)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdContratoNavigation.MoradaFaturacao)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdContratoConteudo" />
                    <input type="submit" value="Apagar" class="btn border" style="background-color: #55ecc3;" /> |
                    <a asp-action="Index" class="btn border" style="background-color: #55ecc3;">Cancelar e Voltar</a>
                </form>
            </div>

        </div>
    </section>
</main>