@model IEnumerable<UP_Mobile.Models.Fatura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLimitePagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdContratoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMetodoPagamentoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLimitePagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdContratoNavigation.MoradaFaturacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMetodoPagamentoNavigation.Metodo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFatura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFatura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFatura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
