@model UP_Mobile.Models.Promocao

@{
    ViewData["Title"] = "Informação Promoção";
}

<main id="main">
    <section>
        <div class="container">

            <h1 class="mb-2 text-center">Informações sobre a promoção</h1>
            <h1 class="mb-5 text-center" style="color:#4fd6d9"><b>@Html.DisplayFor(model => model.Nome)</b></h1>

            <div class="mb-2">
                <table class="table table-hover" @*style="background-color:#86f1c5"*@>
                    <tbody>
                        <tr>
                            <th scope="row" style="width: 30%">@Html.DisplayNameFor(model => model.Nome)</th>
                            <td>@Html.DisplayFor(model => model.Nome)</td>
                        </tr>

                        <tr>
                            <th scope="row">@Html.DisplayNameFor(model => model.Descricao)</th>
                            <td>@Html.DisplayFor(model => model.Descricao)</td>
                        </tr>
                        @if ((User.IsInRole("Administrador")) || (User.IsInRole("Operador")))
                        {
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.DataInicio)</th>
                                <td>@Html.DisplayFor(model => model.DataInicio)</td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.DataFim)</th>
                                <td>@Html.DisplayFor(model => model.DataFim) </td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Preco)</th>
                                <td>@Html.DisplayFor(model => model.Preco)€</td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Conteudo)</th>
                                <td>@Html.DisplayFor(model => model.Conteudo) </td>
                            </tr>

                            <tr>
                                <th scope="row">@Html.DisplayNameFor(model => model.Ativo)</th>
                                <td>@Html.DisplayFor(model => model.Ativo) </td>
                            </tr>
                        }

                    <tbody>
                </table>
            </div>
            <div>
                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.IdPromocao" class="btn border" style="background-color: #55ecc3;">Editar</a>
                }
                <a asp-action="Index" class="btn border" style="background-color: #80f2f3">Voltar</a>
            </div>
        </div>
    </section>
</main>